:root {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #3e3e3e;
    --text-secondary: #666abb;
    --bg-primary: #e2e5f1;
    --bg-secondary: #c7cde6;
}

body {
    background-color: var(--bg-primary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
}

.card {
    background-color: var(--bg-secondary);
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 2px 3px 2px 0 #4e4f52;
    break-inside: avoid-column;
}

.card  img {
    width: 100%;
}

.card .title {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px;
}

.card .text {
    font-size: 0.8rem;
    font-weight: light;
    color: var(--text-primary);
    margin:  10px 5px
}

.card .foot {
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-secondary);
    margin: 10px 5px;
}